services:
  gpustack-agent:
    image: gpustack/gpustack:${VERSION:-latest}
    container_name: gpustack-agent
    network_mode: host
    ipc: host
    command: [
      "--port", "${GPUSTACK_PORT:-8080}",
      "--server-url", "${MASTER_URL:-}",
      "--token", "${MASTER_TOKEN:-}"
    ]
    volumes:
      - ${VOLUME_BASE_DIR:-./volume}:/var/lib/gpustack
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [ gpu ]
    runtime: nvidia
